
.detalleProducto{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    color: #8c0327;
    align-items: center;
    justify-content: center;

}
.detalleProducto ul{
    margin-bottom: 20px;
    font-weight: 500;
}

