.cartas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 300px;
    border: 2px solid #8c0327;
    margin: 10px 10px;
} 
.imgCard{

    width: 70%;
}