
.navBar{
    background-color:#e8b1a8 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li {
    list-style: none;
}
#items{
    text-decoration: none;
    margin-right: 16px;
    color: #8c0327;
    font-weight: 600;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #8c0327;
}
.logo{
    height: 100px;
    width: 100px;
}